name: Github release tag

on:
  push:
    tags: ["v*"]

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  gh-release:
    runs-on: ubuntu-22.04
    if: github.repository == 'Hdoc1509/hygen.nvim'
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Create release
        uses: softprops/action-gh-release@v2.5.0
        with:
          tag_name: ${{ github.ref_name }}
          body: |
            Please refer to [CHANGELOG.md](https://github.com/Hdoc1509/hygen.nvim/blob/${{ github.ref_name }}/CHANGELOG.md) for details.
          token: ${{ secrets.GITHUB_TOKEN }}
